.App {
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin:  10%;
 padding: 5%;
 border: solid 1px black;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  height: fit-content;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
